DB_USER=YourUsername
DB_PASSWORD=YourPassword
DB_SERVER=YourServerName
DB_NAME=YourDatabaseName
DB_PORT=YourDatabasePort
PORT=YourServerPort

JWT_SECRET=YourSecretKey //use node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_EXPIRES_IN=YourTokenExpirationTime
COOKIE_NAME=YourCookieName

CLIENT_URL=YourClientURL