DB_USER=YourUsername
DB_PASSWORD=YourPassword
DB_SERVER=YourServerName
DB_NAME=YourDatabaseName
DB_PORT=YourDatabasePort
PORT=YourServerPort

JWT_SECRET=YourSecretKey
JWT_EXPIRES_IN=YourTokenExpirationTime
COOKIE_NAME=YourCookieName

CLIENT_URL=YourClientURL